@model IEnumerable<E_Ticaret.Models.Urunler>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunAciklamasi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunFiyatı)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategori.KategoriAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrunAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrunAciklamasi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrunFiyatı)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategori.KategoriAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UrunID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UrunID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UrunID })
        </td>
    </tr>
}

</table>
